<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://198.12.149.133:3306/schoolManagement</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">X,6P}C86A}2o</property>
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzUserXuserType.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzNoteValue.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/CnAccess.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/CnUsertTypeXaccess.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzSchool.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzNoteDefinition.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzGrade.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzYear.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzSubject.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/CnUserType.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzClass.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzPeriod.hbm.xml"/>
    <mapping resource="co/com/carpco/altablero/hibernate/entities/BzUser.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
